<!-- <p>contact-us works!</p> -->
<div class="contact py-sm-5 py-4">
  <div class="container py-xl-4 py-lg-2">
    <!-- tittle heading -->
    <h2 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
      <span>C</span>ontact
      <span>U</span>s
    </h2>
    <!-- tittle heading -->
    <div class="row contact-grids agile-1 mb-5">
      <div class="col-sm-4 contact-grid agileinfo-6 mt-sm-0 mt-2">
        <div class="contact-grid1 text-center">
          <div class="con-ic">
            <i class="fas fa-map-marker-alt rounded-circle"></i>
          </div>
          <h3 class="font-weight-bold mt-sm-4 mt-3 mb-3">Address</h3>
          <p style="font-weight: bold;color:black;">Alia Mehra
            <label style="font-weight: bold;color:black;"><a style="font-weight: bold;color:black;"
                href="https://www.google.com/maps/place/Hinjawadi,+Pune,+Pimpri-Chinchwad,+Maharashtra/@18.5993992,73.717219,14z/data=!3m1!4b1!4m6!3m5!1s0x3bc2bbc048041bef:0xd0c9eb5ac3c3dee5!8m2!3d18.5912716!4d73.738909!16s%2Fm%2F02qwznq?entry=ttu">
                Next Door Cafe,Hinjewadi,Pune-411057,Maharashtra</a></label>
          </p>
        </div>
      </div>
      <div class="col-sm-4 contact-grid agileinfo-6 my-sm-0 my-4">
        <div class="contact-grid1 text-center">
          <div class="con-ic">
            <i class="fas fa-phone rounded-circle"></i>
          </div>
          <h3 class="font-weight-bold mt-sm-4 mt-3 mb-3">Call Us</h3>
          <p style="font-weight: bold;color:black;"><a style="font-weight: bold;color:black;"
              href="tel:+1800 120 1193">7275259079 ,8601352670</a>
          </p>
        </div>
      </div>
      <div class="col-sm-4 contact-grid agileinfo-6">
        <div class="contact-grid1 text-center">
          <div class="con-ic">
            <i class="fas fa-envelope-open rounded-circle"></i>
          </div>

          <h3 class="font-weight-bold mt-sm-4 mt-3 mb-3">Email</h3>
          <p>
            <a style="font-weight: bold;color:black;" href="mailto:ritikad@gmail.com">aliam14@gmail.com</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>