
<br /><br />
<div class="main customer-login" style="background-color: white;">
    <h1>Sign In</h1>
    <br />

    <form [formGroup]="customerLoginForm">
        <div class="item-icon">
            <div class="icon">
            </div>
            <input type="text" id="email" formControlName="emailID" placeholder="Email">
        </div>
        <div *ngIf="customerLoginForm.controls['emailID'].invalid && (customerLoginForm.controls['emailID'].dirty || customerLoginForm.controls['email'].touched)"
            class="error-message">
            <div *ngIf="customerLoginForm.controls['emailID'].errors?.['required']">
                Email should not blank
            </div>
            <div *ngIf="customerLoginForm.controls['emailID'].errors?.['pattern']">
                Enter Valid email
            </div>
        </div>


        <br />
        <div class="item-icon">
            <div class="icon">
            </div><input type="password" formControlName="password" placeholder="Password">
        </div>
        <!-- Password Validation code -->
        <div *ngIf="customerLoginForm.controls['password'].invalid && (customerLoginForm.controls['password'].dirty || customerLoginForm.controls['password'].touched)"
            class="error-message">
            <div *ngIf="customerLoginForm.controls['password'].errors?.['required']">
                Password should not be blank
            </div>
            <div *ngIf="customerLoginForm.controls['password'].errors?.['minlength']">
                Minimum 8 character required
            </div>
        </div>
        <!--End of Password Validation -->
        <br />

        <div>
            <button (click)="signIn()" mat-raised-button color="primary" style="background-color: rgb(72, 16, 85) ;color:rgb(249, 229, 254);"
                [disabled]="!customerLoginForm.controls['password'].valid || !customerLoginForm.controls['emailID'].valid">Login</button>
        </div>
    </form>
    <br>
    <div class="new-user-register">
        New-User? <a href=""></a><span class="sign-up" (click)="routeToNewUser()">Register Now</span>
    </div>
    <br />
    <div class="sign-up" (click)="routeToForgotPassword()">
        Forgot password ?
    </div>
    <br />

</div>