.main
{
    display: flex;
    justify-content: space-between;
    height: 60px;
    background-color: rgb(249, 229, 254);
    align-items: center;
    color: rgb(72, 16, 85);
    font-size: 20px;
    text-decoration-color: rgb(72, 16, 85);
    font-weight: 500;
}
.main > .selected {
    background: rgb(72, 16, 85);
    display: flex;
    color: rgb(249, 229, 254);
    height: 100%;
    align-items: center;
    padding: 0 10px 0 10px;
    font-weight: 500;
}
.main img {
    height: 3em;
    width: 240px;
    padding-top: 20px;
}
.main div
{
    cursor: pointer;
}
.user-name-item {
    display: flex;
    align-items: center;
}
