<br /><br />
<div class="centered">
    Select Cateogry :   <select [(ngModel)]="category" (change)="getFoodByCategory()">
        <option [value]="100">All</option>
        <option *ngFor="let item of getCategoryList" [value]="item?.value">{{item?.name}}</option>
    </select>
</div>
<br />
<br />

<div class="centered">
    <div *ngIf="foodList.length===0">
        No food is available in list
    </div>
    <div *ngIf="foodList.length>0">
    <table border="1" class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Food Id</th>
            <th scope="col">Food Name</th>
            <th scope="col">Food Description</th>
            <th scope="col">Food Image</th>
            <th scope="col">Food MRP</th>
            <th scope="col">Available Quantity</th>
            <th scope="col">Order Quantity</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tr *ngFor="let food of foodList">
            <td>{{food?.foodId}}</td>
            <td>{{food?.foodname}}</td>
            <td>{{food?.description}}</td>
            <td><img [src]="food?.image" /></td>
            <td>{{food?.mrpPrice}}</td>
            <td>{{food?.quantity}}</td>
            <td><input type ="text" [id]="food?.foodId" /></td>
            <td>
                <mat-icon (click)="addToCart(food)">shopping_cart</mat-icon>
            </td>
    </table>
    </div>
    
</div>

<br />
<div *ngIf="foodList.length>0" class="centered">
    <app-paging
        [totalItem]="totalItem"
        [pageSize]="pageSize"
        [offset]="offset"
        (onNextPageClick)="onNextPageClick($event)"
        (onPreviousPageClick)="onPreviousPageClick($event)"
        (onFirstPageClick)="onFirstPageClick($event)"
        (onLastPageClick)="onLastPageClick($event)"
    ></app-paging>
</div>
<br />
