<div class="about-page">
  <div class="about-section">
  <h1 style="background-color: rgb(249, 229, 254);">About Us </h1>
  </div>
  <div class="welcome py-sm-5 py-4">
    <div class="container py-xl-4 py-lg-2">
      <!-- //tittle heading -->
      <div class="row">
        <h3 class="text-left" style="color:rgb(72, 16, 85);"><b>About Store</b></h3>
        <div class="col-lg-6 welcome-left">
          <h5 class="my-sm-3 my-2">Online Food Application is a best online food store, which has many vital
            ranging food items required in our everyday life.
            We have Coffee, Pizza, Momos and other food items. 
            All the stuff on our website are distinguished based on their categories, which gives you the hassle-free 
            shopping experience ever with minimum time spent for your shopping.</h5>
        </div>

        <div class="col-lg-6 welcome-right-top mt-lg-0 mt-sm-5 mt-4">
          <img src="../../../assets/Images/aboutus-3.jpg" class="img-fluid"
            alt=" ">
        </div>


        <div class="welcome-left">
          <br><br>
          <h3 class="text-left" style="color:rgb(72, 16, 85);">&ensp;<b>What We Do ?</b></h3>
          <h5 class="my-sm-3" style="margin-left:15px;">We guarantee you the best quality taste of foods with the lowest
            price. Right now we only serve you in Pune. To have a more convenient shopping experience, for you we
            deliver your selected products at your doorstep at your selected time slot. As in today's era every person
            sense short in time & also its hard to find products which are reliable. So to tackle this issue we serve
            you with the finest & hand-picked products from all the categories,
            to save your time from the conventional shopping as well as
            from the problems like getting stuck in long queues, good taste , the parking fees to be paid and we deliver
            directly to your doorstep.</h5>
        </div>


        <div class="welcome-left">
          <br><br>
          <h3 class="text-left" style="color:rgb(72, 16, 85);">&ensp;<b>Our Vision</b></h3>
          <h5 class="my-sm-3" style="margin-left:15px;">
            <li>Redefining India's trending technology-driven experience by 2025.</li>
            <li>To provide a brighter customer experience with an assortment of trending and reshaping the coming
              future. </li>
            <li>Changing the world with best technology.</li>
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>